@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  --background: #171717;
  --foreground: #171717;
}

/* ✅ ใช้ Prompt ที่ประกาศจาก layout.tsx */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-prompt), Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* ถ้าใช้ Tailwind font-sans */
  --font-sans: var(--font-prompt);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

.input-white input {
  color: white !important;
}